<?xml version="1.0" encoding="utf-8"?>
<unity>
  <typeAliases>
    <typeAlias alias="IDatabase" type="Tony.Data.IDatabase,Tony.Data" />
    <typeAlias alias="EFDatabase" type="Tony.Data.EF.Database,Tony.Data.EF" />
    <typeAlias alias="IDbContext" type="Tony.Data.EF.IDbContext,Tony.Data.EF" />
    <!--<typeAlias alias="MySql" type="Tony.Data.EF.MySqlDbContext,Tony.Data.EF" />-->
    <typeAlias alias="SqlServer" type="Tony.Data.EF.SqlServerDbContext,Tony.Data.EF" />
  </typeAliases>
  <containers>
    <container name="DBcontainer">
      <type type="IDatabase" mapTo="EFDatabase" ></type >
      <!-- 默认数据库软件类型：SqlServer,MySql,Oracle,Access,SQLite-->
      <type type="IDbContext" mapTo="SqlServer" ></type >
      <type type="IDbContext" mapTo="SqlServer" name="SqlServer"></type >
      <!--<type type="IDbContext" mapTo="MySql" name="MySql"></type >-->
    </container>
  </containers>
</unity>
