
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Default</title>
    <script type="text/javascript">
        function fullwin() {
            top.location.href = "../Login/Index";
            return false;
        }
    </script>
</head>
<body onload="fullwin()">
</body>
</html>
